extends ../templates/dashboard

mixin maincontent(title)
	.content
		h1=title
		hr
		.field.is-fluid
			.columns.is-multiline
				block

mixin application(name, desc, appid, secret)
	.card.is-full
		.card-content
			.level.is-mobile
				div
					.level.is-mobile
						.level-item(style="margin-right: 1.5rem")
							label.label.has-text-weight-bold=name
						.level-item
							label.truncate=desc
				.level-item.level-right
					.icon.tag.is-medium.is-danger
						i.fas.fa-trash-alt
		hr(style="margin: 0;")
		.card-content
			.columns.level.is-mobile
				.column.is-2.level-item
					label.label Application ID
				.column.is-10.level-item
					.input.hover-pointer.copyable(data-key=appid)=appid
			.columns.level.is-mobile
				.column.is-2.level-item
					label.label(contenteditable=false) Application Secret
				.column.is-10.level-item
					.input.hover-pointer.copyable(data-key=secret) Click to copy
			.columns.level.is-mobile

mixin addapp()
	.add-app.has-hover.has-text-centered.level.is-mobile.hover-pointer
		i.fas.fa-plus.level-item.plus-icon

block dashboard
	style
		include ../../css/dashboard.applications.css
	+maincontent("Applications")
		.column
			+application("Miki", "Sample application using the miki API", "1234567890", "123-456-678asd")
	+addapp()
	script
		include ../../js/dashboard.applications.js
