extends templates/base

mixin developer(dev)
	.card.column.seperated
		if dev.uid
		.card-content
			.card-image
				figure.image
					img.is-rounded(src=`https://miki-cdn.nyc3.digitaloceanspaces.com/avatars/${dev.uid}.png`)
		.card-content
			.media-content.has-text-centered
				p.is-size-4.has-text-weight-bold= dev.name
			if dev.desc
				p.subtitle.has-text-centered= dev.desc
			else
				p Developer
			+about(dev)

mixin moderator(mod)
	.card.column.seperated
		if mod.uid
			.card-content
				figure.image.rounded
					img.is-rounded(src=`https://miki-cdn.nyc3.digitaloceanspaces.com/avatars/${mod.uid}.png`)
		.card-content.has-text-centered
			h2= mod.name
			if mod.desc
				p= mod.desc
			else
				p Moderator
			+about(mod)

mixin about(link)
	.columns.has-text-centered
		if link.github
			.column
				a(href=link.github target="_blank" rel="noopener")
					i.fab.fa-github.fa-2x(aria-hidden="true")
		if link.twitter
			.column
				a(href=link.twitter target="_blank" rel="noopener")
					i.fab.fa-twitter.fa-2x(aria-hidden="true")
		if link.twitch
			.column
				a(href=link.twitch target="_blank" rel="noopener")
					i.fab.fa-twitch.fa-2x(aria-hidden="true")


block page
	- const data = require("./data/about.json")
	section.section.hero.is-medium.miki-bg
		.container
			h1.title.has-text-light So, what's Miki?
			p.has-text-white Miki is a bot that focuses on community related events.
				| She can do anything from playing games with you, to showing you progress,
				| and ofcourse with memes. She has a little bit of everything and all features
				| are made with hand by yours truly. Her design is based on the Vocaloid
				| #[a(href="http://vocaloid.wikia.com/wiki/SF-A2_miki") SF-A2 Miki], but we give
				| her a little bit of our own flair!

	section.section.content
		.container
			h1.nm Development Team
			.columns
				each dev in data.devs
					+developer(dev)

	section.section.content
		.container
			h1.nm Server Moderators
			.columns
				each mod in data.mods
					+moderator(mod)

	section.section.content
		.container
			h1.nm Alumni
			.columns
				for user in data.contribs
					.card.column.seperated
						p=user
