extends templates/base
block page
	script(src="../js/bulma-accordion.js")
	include command_data.pug
	.section.hero.is-textured
		.container
			h1.title.has-text-light Commands for Miki
	.section.container.content
		.columns
			.column.is-2
				h3 Modules
				ul
				each m in modules
					li=m.name
			section.column.accordions
				each m in modules
					each c in m.commands
						article.accordion(id=c.module)
							.accordion-header.toggle
								.level
									h3.seperated.has-text-white >#{c.name}
									if c.aliases
										i or #{c.aliases.join(", ")}	
							.accordion-content
								section.is-small.section.accordion-body
									p=c.description
									h5 Usage
									each u in c.usages
										.is-grouped
											h6 #{u.usage}
											p #{u.description}
										if u.parameters
											br
											each p in u.parameters
												if p.required
													p #[a.tag.is-primary required] #[b=p.name] - #{p.description}
										br

