extends templates/base
block page
	include command_data.pug
	.section.hero.is-textured
		.container
			h1.title.has-text-light Commands for Miki
	.section.container.content
		.section
			h3 Looking for something..?
			p.control.has-icons-left
				input.input(placeholder="search...")#searchbar
				span.icon.is-small.is-left
					i.fas.fa-search
		.columns
			section.column#commands
				each m in modules
					each c in m.commands
						article.card(data=c.name data-module=c.module)
							.card-content
								.columns
									.column.is-narrow
										b >#{c.name}
									.column
										each u, i in c.usages
												if(i != 0)
													.is-divider(data-content="OR")
												if u.parameters
													each p in u.parameters
														if p.constant
															b.seperated-h=p.name
														else
															if p.required
																a.tooltip.seperated-h.tag.is-primary(data-tooltip=p.description)=p.name
															else
																a.tooltip.seperated-h.tag.is-info(data-tooltip=p.description)=p.name
												else
													a.tooltip.seperated-h.tag.is-disabled(data-tooltip="this means it has no parameters :)") none
									.column.is-narrow
										p=c.description
	script(src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.4/fuse.min.js")
	script(src="../js/commands.ts")


