extends templates/base

mixin content
	.section.column
		.content
			block

mixin testimonial(q)
	.column.is-4
		figure.testimonial
			blockquote.has-background-light=q.quote
			.author
				if q.invite
					img.testomonial-button(src=q.image alt="")
				else
					img(src=q.image alt="")
				h5.has-text-black=q.name
				span.has-text-dark=q.desc

block page
	.hero.is-fullheight.is-textured.first
		.hero-body
			.container
				.columns.is-vcentered
					.column.is-5.content
						h1.title.has-text-white.is-spaced MIKI for Discord
						p.subtitle.has-text-white Your solution to a great Discord Community!
						.field.is-grouped
							.control
								a.button.is-large(href="/invite.pug?mikiai").is-info
									span.icon
										i.fab.fa-discord
									span Invite
							.control
								a.button.is-large.is-white.is-outlined(href="https://discord.gg/39Xpj7K")
									span Support
					.column.is-offset-2.is-10.is-hidden-touch.is-hidden-desktop-only.image
						img.has-shadow.is-smooth(src="../img/landing-image.png" style="border-radius: 15px")#landing-img
	.section.has-background-lighter
		.container
			.has-text-centered
				h2.title.is-spaced  Why pick Miki?
				p Miki has already won the hearts of millions of people and continues to do so with her rich set of functions.

			.columns.section
				+content()
					.columns
						.column.has-text-centered.is-2
							i.fal.fa-user.fa-3x.has-text-primary
						.column
							h1 Community
							p Show off and customize your #[b profile] with our extensive background collection. Unleash your inner completionist by collecting all #[b 50+ achievements] and badges. Show your affection through our #[b marriage system], because everyone deserves a little bit of love!

				+content()
					.columns
						.column.has-text-centered.is-2
							i.fal.fa-cogs.fa-3x.has-text-primary
						.column
							h1 Complete server control
							p Miki does not play around when it comes to providing utility for your server. Server owners can incentivize their communities by implementing #[b role rewards], making roles level-based, purchasable or self-assignable. In addition, Miki provides a lot of moderation tools such as cleaning up chats and removing unwanted users from your server.

			.columns
				+content()
					.columns
						.column.has-text-centered.is-2
							i.fal.fa-exclamation.fa-3x.has-text-primary
						.column
							h2.title Uncover Miki's potential!
							p Whenever you send messages, you will receive #[b experience points] and climb the #[b leaderboards].In addition, you can earn currency by being active and collecting daily bonuses. Furthermore, you can push your luck and risk these earnings in #[b gambling games], such as blackjack, to become the richest person on the leaderboards!

				+content()
					.columns
						.column.has-text-centered.is-2
							i.fal.fa-check.fa-3x.has-text-primary
						.column
							h2.title Always improving!
							p Our diverse community is helping us translate Miki into many languages. On top of that, with rapid development, #[b new features are being released weekly]! Online features, such as #[b dashboards, profiles and configuration], are in the works as we speak.We are consistently probing the community for more #[b ideas and suggestions] as we speak. Got a suggestion? #[a(href="https://suggestion.miki.ai") Share] yours today! 
	.section
		.container
			.title-wrapper.has-text-centered
				h2.title.is-2.light-text.is-spaced People love Miki!
				h3.subtitle.is-5 Here are some of our communities actively supporting Miki and her abilities to help your server
				.section.content-wrapper
					.columns.is-vcentered
						+testimonial({
							quote: "Miki was the first bot we brought into our server. While we have plenty of bots now, Miki is one of our favorites. Our community's most used command, you ask? Either marry or profile, but she's great for all sorts of things.",
							image: "https://cdn.miki.ai/web/landing/guilds/guild-kibii.png",
							name: "Gaby",
							desc: "Mystic Messenger",
							invite: "https://discord.gg/kbnFcz9"
						})
						+testimonial({
							quote: "Miki helps keep the flow of conversations going with her wide variety of fun commands in our server. She's great for small and large servers alike, providing both entertainment and utility!",
							image: "https://cdn.miki.ai/web/landing/guilds/guild-kong.png",
							name: "itsn0tme",
							desc: "Kongregation on Discord"
						})
						+testimonial({
							quote: "With so many customizations and commands, Miki is one of the ultimate utility and fun bots we've seen. And trust me, we've gone through plenty!",
							image: "https://cdn.miki.ai/web/landing/guilds/guild-eso.png",
							name: "SevenFangs",
							desc: "ESO SQUAD"
						})

	.section.hero.is-small.has-text-centered.has-background-primary.is-textured
		.hero-body
			h2.has-text-white.title Get started with Miki!
			a.has-shadow.button.is-large(href="https://discordapp.com/oauth2/authorize?&client_id=160185389313818624&scope=bot").seperated.is-info.is-smooth
				span.icon.is-large
					i.fab.fa-discord
				span Invite Miki!
			a.has-shadow.button.is-large(href="https://github.com/velddev/Miki/wiki").seperated.is-white.is-outlined.is-smooth
				p Learn more
	
	
	.section.content.container
		h3.has-text-centered Latest Miki news!
		.columns#updates
		div.has-text-centered
			a.button.is-large.is-outlined.is-primary(onclick="OneSignal.showHttpPrompt()")
				span.icon.is-large
					i.fas.fa-bell
				span Subscribe

	script(type="text/javascript" src="https://blog.miki.ai/public/ghost-sdk.min.js")
	
	script
		include ../js/home.ts
