mixin user(u)
    div.user
        div.media
            div.rank
                a #{u.rank}.
            div.about-circle
                img(src='https://miki-cdn.nyc3.digitaloceanspaces.com/avatars/#{u.id}.png')
        a #{u.username}
        div.user-info
            if type === 'experience'
                a #{u.score.toLocaleString()} xp
                - var experience = u.score
                - var level = 0
                - var output = 0
                while (experience >= output)
                    - output = 10 + (output + (level * 20))
                    - level++

                a Level: #{level}

            if type === 'currency'
                a #{u.score.toLocaleString()}

            if type === 'commands'
                a #{u.score.toLocaleString()}

            if type === 'reputation'
                a #{u.score.toLocaleString()}

extends templates/base
block page
    - var page_title = 'leaderboards'
    h1.first Leaderboards
    include includes/nav
    div.content.no-padding
        div.tab-header.nav.center
            div.blur-bg
            ul(class='#{page_title}')
                li
                    a(href="#{baseUrl}experience")
                        i.far.fa-angle-double-up
                        p Experience
                li
                    a(href="#{baseUrl}reputation")
                        i.fas.fa-heart
                        p Reputation
                li
                    a(href="#{baseUrl}currency")
                        i.fas.fa-diamond
                        p Currency
                li
                    a(href="#{baseUrl}commands")
                        i.far.fa-chevron-right
                        p Commands

        div.leaderboard-container
            div.leaderboard
                each v in data.items
                    +user(v)
                div.pagination
                    if (pages.prev_url !== undefined)
                        a(href="#{pages.prev_url}") #[i.far.fa-chevron-left] Prev Page
                    if (pages.next_url !== undefined)
                        a(href="#{pages.next_url}") Next Page  #[i.far.fa-chevron-right]